/* Box-sizing border-box */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box}

.box{
    color:white;
    font-size: 24px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.box1{ background: #68bc1a}
.box2{ background: #1abc42}
.box3{ background: #1abc8b}
.box4{ background: #1a9cbc}
.box5{ background: #1a32bc}
.box6{ background: #4b1abc}
.box7{ background: #8e1abc}
.box8{ background: #bc1a99}
.box9{ background: #bc1a66}
.box10{ background: #bc1a27}

.container{
    display: flex;
}

.box1{
    flex-grow: 10;
    flex-shrink: 5;
    flex-basis: 400px;
}

/* .box1{ flex: 10 5 400px;} */
.box2{
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: 400px;
}
/* .box2{ flex: 5 1 400px;} */
